In [1]:
from pathlib import Path
import pandas as pd

# Folder where all your CSVs are stored
data_path = Path("../data")

# Get all CSV files
csv_files = sorted(data_path.glob("*.csv"))  # sorted just to keep order consistent

In [2]:
csv_files

[WindowsPath('../data/CAvideos.csv'),
 WindowsPath('../data/DEvideos.csv'),
 WindowsPath('../data/FRvideos.csv'),
 WindowsPath('../data/GBvideos.csv'),
 WindowsPath('../data/INvideos.csv'),
 WindowsPath('../data/JPvideos.csv'),
 WindowsPath('../data/KRvideos.csv'),
 WindowsPath('../data/MXvideos.csv'),
 WindowsPath('../data/RUvideos.csv'),
 WindowsPath('../data/USvideos.csv')]

## 1. Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [3]:
pip install charset-normalizer

Requirement already satisfied: charset-normalizer in c:\users\lenovo\anaconda3\lib\site-packages (3.3.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# dfs = []

# for file in csv_files:
#     print(f"Reading: {file.name}")
    
#     # Extract country code from filename, e.g. "USvideos.csv" -> "US"
#     country_code = file.stem[:2]
    
#     # Read CSV with a tolerant encoding
#     df_temp = pd.read_csv(file, encoding="latin1")  # <--- important change
    
#     # Add country column
#     df_temp["country"] = country_code
    
#     dfs.append(df_temp)

dfs = []

def convert_latin1_to_utf8(df):
    for col in df.select_dtypes(include="object").columns:
        try:
            df[col] = df[col].astype(str).apply(lambda x: x.encode("latin1").decode("utf-8"))
        except Exception:
            df[col] = df[col].astype(str).apply(
                lambda x: x.encode("latin1", errors="replace").decode("utf-8", errors="replace")
            )
    return df


for file in csv_files:
    print(f"\nReading: {file.name}")
    
    country_code = file.stem[:2]

    # Read using Latin-1
    df_temp = pd.read_csv(file, encoding="latin1", dtype=str)

    # Convert strings Latin-1 â†’ UTF-8
    df_temp = convert_latin1_to_utf8(df_temp)

    # ğŸ”¥ Convert numeric columns BACK to numbers
    numeric_cols = ["views", "likes", "dislikes", "comment_count"]
    for col in numeric_cols:
        if col in df_temp.columns:
            df_temp[col] = pd.to_numeric(df_temp[col], errors="coerce")

    df_temp["country"] = country_code
    dfs.append(df_temp)

df = pd.concat(dfs, ignore_index=True)

Reading: CAvideos.csv

Reading: DEvideos.csv

Reading: FRvideos.csv

Reading: GBvideos.csv

Reading: INvideos.csv

Reading: JPvideos.csv

Reading: KRvideos.csv

Reading: MXvideos.csv

Reading: RUvideos.csv

Reading: USvideos.csv

In [5]:

# Concatenate all dataframes into one
df = pd.concat(dfs, ignore_index=True)

print("Final combined shape:", df.shape)
df.head()

Final combined shape: (375942, 17)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,FALSE,FALSE,FALSE,Eminem's new track Walk on Water ft. BeyoncÃ© i...,CA
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,FALSE,FALSE,FALSE,STill got a lot of packages. Probably will las...,CA
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,FALSE,FALSE,FALSE,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...,CA
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,FALSE,FALSE,FALSE,I know it's been a while since we did this sho...,CA
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,FALSE,FALSE,FALSE,ğŸ§: https://ad.gt/yt-perfect\nğŸ’°: https://atlant...,CA

In [6]:
# df_us = pd.read_csv("../data/DEvideos.csv")
# df_us.head(60)
df_us = pd.read_csv("../data/CAvideos.csv", encoding="utf-8")
df_us.head(100)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ğŸ§: https://ad.gt/yt-perfect\nğŸ’°: https://atlant...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,zxuvr9tN924,17.14.11,éè¯šå‹¿æ‰° å®Œæ•´ç‰ˆ â€œå°æœ±äºšæ–‡â€äº®ç›¸ã€Šéè¯šå‹¿æ‰°ã€‹ å­Ÿéä¸Šæ¼”cosplayé¦–ç§€ 171111,æ±Ÿè‹å«è§†å®˜æ–¹é¢‘é“China JiangsuTV Official Channel,24,2017-11-11T16:00:04.000Z,"æ±Ÿè‹å«è§†|""éè¯šå‹¿æ‰°""|""å§œæŒ¯å®‡""|""å­Ÿé""|""é»„æ¾œ""|""é»„è¡""|""é»„ç£Š""|""ç›¸äº²""|""äº¤å‹...",150974,220,65,201,https://i.ytimg.com/vi/zxuvr9tN924/default.jpg,False,False,False,å…³æ³¨ã€å¾®ä¿¡å…¬ä¼—å·ã€‘æœ€æ–°ç‹¬å®¶å†…å®¹æŠ¢å…ˆçœ‹ï¼\næ±Ÿè‹å«è§†å®˜æ–¹å¾®ä¿¡â€œJSBC-JSTVâ€\néè¯šå‹¿æ‰°...
96,dKBThyjj0J0,17.14.11,'Helping People' Sneak Peek Ep. 805 | The Walk...,amc,24,2017-11-13T03:00:01.000Z,"The Walking Dead|""episode 805""|""episode 5""|""Th...",70448,1538,25,315,https://i.ytimg.com/vi/dKBThyjj0J0/default.jpg,False,False,False,Negan and Father Gabriel remain trapped togeth...
97,pQgPR2V6924,17.14.11,ã€Šæ–‡èŒœä¸–ç•Œå‘¨å ±ã€‹ç¾åª’ç‹‚é…¸å·æ™®ã€€å°è¯è²¿æ˜“é¸å‰é¸å¾Œåˆ¤è‹¥å…©äºº2017.11.11|Sisy's W...,æ–‡èŒœçš„ä¸–ç•Œå‘¨å ± Sisy's World News,25,2017-11-12T07:09:51.000Z,"é™³æ–‡èŒœ|""æ–‡èŒœä¸–ç•Œå‘¨å ±""|""æ–‡èŒœä¸–ç•Œè²¡ç¶“é€±å ±""|""ä¸­å¤©çš„å¤¢æƒ³é©›ç«™""|""Courier Sta...",135620,379,86,449,https://i.ytimg.com/vi/pQgPR2V6924/default.jpg,False,False,False,ã€Šä¸­å¤©çš„å¤¢æƒ³é©›ç«™ã€‹æ›´å¤šå½±éŸ³â†’https://goo.gl/BbhRZJ\nã€Šæ–‡èŒœçš„ä¸–ç•Œé€±å ±ã€‹...
98,lHcXhBojpeQ,17.14.11,ä¸‰å±†TVBè¦–å¸ï¼Œæ‹‹æ£„10å¹´é’æ¢…ç«¹é¦¬é«®å¦»ï¼Œç‚ºå¨¶å°ä¸‰é‚„ä¸æƒœèˆ‡æ¯çµ•äº¤ï¼,æ˜æ˜Ÿç™¾æ›‰ç”Ÿ,22,2017-11-12T12:49:50.000Z,[none],88061,47,58,17,https://i.ytimg.com/vi/lHcXhBojpeQ/default.jpg,False,False,False,NaN
99,Yo84eqYwP98,17.14.11,"LA PIRE PARTIE ft Le Rire Jaune, Pierre Croce,...",Le Labo,24,2017-11-12T15:00:02.000Z,[none],432721,14053,576,1161,https://i.ytimg.com/vi/Yo84eqYwP98/default.jpg,False,False,False,Le jeu de sociÃ©tÃ©: https://goo.gl/hhG1Ta\n\nGa...

# 2. Extract all videos that have no tag.

In [7]:
no_tag_videos = df[
    df['tags'].isna() |
    (df['tags'].str.lower().isin(["[none]", "[]"])) |
    (df['tags'].str.strip() == "") |
    (df['tags'] == "No tags")
]

no_tag_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
41,JwboxqDylgg,17.14.11,Canada Soccer's Women's National Team v USA In...,Canada Soccer,17,2017-11-13T05:53:49.000Z,[none],36311,277,28,13,https://i.ytimg.com/vi/JwboxqDylgg/default.jpg,FALSE,FALSE,FALSE,Canada Soccer's Women's National Team face riv...,CA
58,9B-q8h31Bpk,17.14.11,John Oliver Tackles Louis C.K. And Donald Trum...,TV Shows,22,2017-11-13T04:49:26.000Z,[none],106029,1270,101,181,https://i.ytimg.com/vi/9B-q8h31Bpk/default.jpg,FALSE,FALSE,FALSE,"John Oliver on News, Politics ...",CA
78,1UE5Dq1rvUA,17.14.11,Taylor Swift Perform Ready For It - SNL,Ken Reactz,24,2017-11-12T05:18:02.000Z,[none],320964,8069,285,717,https://i.ytimg.com/vi/1UE5Dq1rvUA/default.jpg,FALSE,FALSE,FALSE,Thanks for watching please subscribe and subsc...,CA
86,pmJQ4KwliX4,17.14.11,"LATEST Q POSTS: ROTHSCHILDS, HOUSE OF SAUD, lL...",James Munder,2,2017-11-12T21:25:40.000Z,[none],116820,1503,139,1066,https://i.ytimg.com/vi/pmJQ4KwliX4/default.jpg,FALSE,FALSE,FALSE,https://pastebin.ca/3930472\n\nSupport My Chan...,CA
98,lHcXhBojpeQ,17.14.11,ä¸‰å±†TVBè¦–å¸ï¼Œæ‹‹æ£„10å¹´é’æ¢…ç«¹é¦¬é«®å¦»ï¼Œç‚ºå¨¶å°ä¸‰é‚„ä¸æƒœèˆ‡æ¯çµ•äº¤ï¼,æ˜æ˜Ÿç™¾æ›‰ç”Ÿ,22,2017-11-12T12:49:50.000Z,[none],88061,47,58,17,https://i.ytimg.com/vi/lHcXhBojpeQ/default.jpg,FALSE,FALSE,FALSE,nan,CA

In [8]:
no_tag_videos.size

640866

# 3. For each channel, determine the total number of views

In [9]:
channel_views = df.groupby("channel_title")["views"].sum().reset_index()

channel_views.head(50)

                        channel_title     views
0                          ! ì„¸ìƒì— ë¬´ìŠ¨ì¼ì´   3942977
1                       !!8æ™‚ã ã‚ˆé¢ç™½ãƒã‚¿å¤§é›†åˆ     50207
2                      !BTSãƒ»TWICE ã¾ã¨ã‚      7310
3              !Los amorosos ViralesÂ¡      6069
4                             !t Live    240038
5                           !å†…ãƒ©ãƒã®ä¸Šã‚’èµ°ã‚Œ     11528
6                               !å³¶ã¡ã‚ƒã‚“   1061020
7                             !è¡æ’ƒçš„ãªå‹•ç”»      9112
8                                 # #      2318
9                           # Milgame      1448
10                             # Ğ–Ğ¸Ñ‚ÑŒ   1592460
11                     # ì •êµ­ì ìœ¼ë¡œ ë·”ê°€ë‚´ë¦´ìŠˆê°€     34824
12                            #1 ãƒ‘ãƒ¼ã‚­ãƒ¼     77345
13                             #15ã‚†ãƒ¼ã˜    125526
14                          #2ã‚¢ã‚¤ãƒãƒ£ãƒ³ãƒãƒ«     36089
15                       #AndresSTyle   4344270
16                      #Drama Planet    112340
17                         #DÃ©bloquÃ©s     98209
18                      #HolaSoyDanny    988633
19                  #Mentale Zuflucht  21804535
20                    #Mind Warehouse  43941323
21                #Musiques Positives     14262
22                             #NAME?    462715
23                    #Refugio Mental  47025476
24               #SLOVOSPB PRODUCTION   6705900
25                   #SeekingTheTruth    119011
26               #SobreVivoEnGuerrero     81739
27                              #TIME     30684
28                          #UZBEK TV     18270
29                     #Victor Daniel    194758
30                            #WDR360    295750
31                            #YEYNET     95480
32                        #kaneki ken    259180
33                         #nebyvlogs     38423
34                           #tae_tae    122499
35                         #ĞĞ°Ğ”Ğ¾Ğ½Ñ‹ÑˆĞºĞµ    158576
36                #ĞŸĞ°Ğ²ĞµĞ»Ğ“Ñ€ÑƒĞ´Ğ¸Ğ½Ğ¸Ğ½_2024      7582
37                              #ëšœê¾¼ì•„ê°€     45628
38                              % ë°©íƒ€ë‹ˆ      8728
39                               %ìŠ¬ ì˜ˆ    688761
40                   & í™ëŒ€ ì­ì¹´í˜ì°½í˜„ ê±°ë¦¬ë…¸ë˜ë°©  10616396
41                ' * ì¡° ë…œ ì£¼ ì˜ ìœ¨ ì¶ * '    231422
42                               ' ì˜Œì‘     50495
43                          'B' Story    118330
44                       (Fe)MaleASMR     73094
45                     (MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€   1040039
46                     (à¹€à¸ˆà¸²à¸°)à¸‚à¹ˆà¸²à¸§à¹€à¸”à¹ˆà¸™    526631
47       (ãƒ‘ãƒ»ãƒªãƒ¼ã‚°TV å…¬å¼)PacificLeague TV    307334
48  (ãƒ‘ãƒ¼ã‚½ãƒ« ãƒ‘ãƒ»ãƒªãƒ¼ã‚°TV å…¬å¼)PacificLeague TV    463675
49                        * Martyna *     44973

# 4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [10]:
# Task 4: Find rows to exclude
excluded = df[
    (df["comments_disabled"] == "TRUE") |
    (df["ratings_disabled"] == "TRUE") |
    (df["video_error_or_removed"] == "TRUE")
]

# Show how many rows are excluded
print("Excluded rows:", excluded.shape[0])

# Remove excluded rows from original dataframe
df = df.drop(excluded.index).reset_index(drop=True)

print("Remaining rows:", df.shape[0])

Excluded rows: 9406
Remaining rows: 366536

In [11]:
# # Task 4: Find rows to exclude
# excluded = df[
#     (df["comments_disabled"] == "TRUE") &
#     (df["ratings_disabled"] == "TRUE") &
#     (df["video_error_or_removed"] == "TRUE")
# ]

# # Show how many rows are excluded
# print("Excluded rows:", excluded.shape[0])

# # Remove excluded rows from original dataframe
# df = df.drop(excluded.index).reset_index(drop=True)

# print("Remaining rows:", df.shape[0])

In [12]:
excluded

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
67,amEZKmJQ4Io,17.14.11,Drako - Watch Me Do It [Official Video],babygranderecords,10,2017-10-23T19:38:36.000Z,"Drako|""Watch Me Do It""|""watch me""|""migos""|""dap...",25887,0,0,6,https://i.ytimg.com/vi/amEZKmJQ4Io/default.jpg,FALSE,TRUE,FALSE,PURCHASE / STREAM WATCH ME DO IT https://fanli...,CA
70,TIvI07xLPnA,17.14.11,"The National for Sunday, November 12, 2017",The National,25,2017-11-13T03:06:10.000Z,"Canada|""CBC""|""CBC News""|""National""|""News""|""The...",13433,74,57,0,https://i.ytimg.com/vi/TIvI07xLPnA/default.jpg,TRUE,FALSE,FALSE,"Welcome to The National, the flagship nightly ...",CA
82,Dgut-rlPVrk,17.14.11,Will Grace Davies make you love her? | Live Sh...,The X Factor UK,24,2017-11-12T19:59:14.000Z,"the x factor|""x factor""|""X factor UK""|""x facto...",261603,4276,2148,0,https://i.ytimg.com/vi/Dgut-rlPVrk/default.jpg,TRUE,FALSE,FALSE,Visit the official site: http://itv.com/xfacto...,CA
173,H8IWLEtFt9A,17.14.11,IntÃ©grale - On n'est pas couchÃ© 11 novembre 20...,On n'est pas couchÃ©,24,2017-11-12T01:44:07.000Z,"onpc|""on n'est pas couche""|""laurent ruquier""|""...",122282,0,0,0,https://i.ytimg.com/vi/H8IWLEtFt9A/default.jpg,TRUE,TRUE,FALSE,IntÃ©grale - On n'est pas couchÃ© 11 novembre 20...,CA
235,wDEA3rpYHnI,17.15.11,Marie-Louise Arsenault rÃ©plique Ã Denise Bomba...,TV Classics,22,2017-11-13T01:26:37.000Z,Marie-Louise Arsenault qui rÃ©plique Ã Denise B...,15800,88,0,0,https://i.ytimg.com/vi/wDEA3rpYHnI/default.jpg,TRUE,FALSE,FALSE,Moment favori Ã la tÃ©lÃ© quÃ©bÃ©coise: Marie-Loui...,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334922,c6p0jsbFE08,18.14.06,ĞÑ€Ñ…Ğ°Ğ½ Ğ”Ğ¶ĞµĞ¼Ğ°Ğ»ÑŒ - Ğ§TO HA CAMOM Ğ”EĞ›E 3AĞ”Ğ£MAĞ› ĞŸĞ£TĞ˜...,Ğ£Ğ¼Ğ½Ñ‹Ğµ Ğ»ÑĞ´Ğ¸,22,2018-06-13T05:10:47.000Z,[none],31942,0,0,151,https://i.ytimg.com/vi/c6p0jsbFE08/default.jpg,FALSE,TRUE,FALSE,"ĞŸĞ¾Ğ¶Ğ°Ğ»ÑƒĞ¹ÑÑ‚Ğ°, Ğ½Ğµ Ğ·Ğ°Ğ±Ñ‹Ğ²Ğ°Ğ¹Ñ‚Ğµ ÑÑ‚Ğ°Ğ²Ğ¸Ñ‚ÑŒ Ğ›ĞĞ™Ğš, ĞµÑĞ»Ğ¸ Ğ²Ğ°...",RU
334934,eHHU0WbBvTI,18.14.06,Ô±Õ¶ÖÕ¸Ö‚Õ¤Õ¡Ö€Õ± 13.06.2018,Kentron Channel,25,2018-06-13T16:44:57.000Z,"kentron|""tv""",30856,53,186,0,https://i.ytimg.com/vi/eHHU0WbBvTI/default.jpg,TRUE,FALSE,FALSE,https://kentron.tvhttps://www.facebook.com/ken...,RU
334960,kzxD8E-Qebk,18.14.06,Gevorg Martirosyan & Spitakci Hayko - Bola Bol...,DJ NAREK Official,10,2018-06-13T02:32:33.000Z,[none],101059,3152,88,0,https://i.ytimg.com/vi/kzxD8E-Qebk/default.jpg,TRUE,FALSE,FALSE,instagram-https://www.instagram.com/zaqoyannar...,RU
334969,KswGNakLZZs,18.14.06,ĞÑ…Ğ±Ğ¾Ñ€Ğ¸ Ğ¢Ğ¾Ò·Ğ¸ĞºĞ¸ÑÑ‚Ğ¾Ğ½ Ğ²Ğ° Ò·Ğ°Ò³Ğ¾Ğ½ (13.06.2018)Ø§Ø®Ø¨Ø§Ø± Øª...,Ozodivideo,25,2018-06-13T11:42:16.000Z,"Tajikistan|""tajik""|""ozodi""|""RFERL""|""Dushanbe""|...",78982,712,124,0,https://i.ytimg.com/vi/KswGNakLZZs/default.jpg,TRUE,FALSE,FALSE,"Ò¶Ğ°Ğ·Ğ¾ Ğ±Ğ°Ñ€Ğ¾Ğ¸ Ğ´Ó¯ÑÑ‚Ğ´Ğ¾Ñ€Ğ¾Ğ½Ğ¸ Ğ¿Ğ¾Ñ€Ğ° ÑĞ°Ñ…Ñ‚Ñ‚Ğ°Ñ€ ÑˆÑƒĞ´, Ğ‘Ğ°Ñ€Ğ¾Ğ¸ ...",RU
334977,iawVzZv0SRY,18.14.06,ĞĞ—Ğ”Ğ ĞšĞĞ ĞĞ“Ğ”Ğ˜ Ğ¥ĞĞ—Ğ˜Ğ ĞĞš ĞšĞ£Ğ Ğ˜ĞĞ“,BOZOR TV,22,2018-06-13T15:45:57.000Z,"Ğ´Ğ°Ñ…ÑˆĞ°Ñ‚|""ĞºĞ°Ñ€Ğ¾Ñ€""|""Ñ„Ğ°Ñ€Ğ¼Ğ¾Ğ½""|""Ğ±ÑƒĞ³ÑƒĞ½""|""Ğ´ĞµĞ¿Ğ¾Ñ€Ñ‚""|""Ğ·Ğ°Ğ¿Ñ€...",17450,192,54,0,https://i.ytimg.com/vi/iawVzZv0SRY/default.jpg,TRUE,FALSE,FALSE,nan,RU

# 5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [13]:
# # Task 5: Add like_ratio column (likes / dislikes)

# df["like_ratio"] = df["likes"] / df["dislikes"].replace(0, pd.NA)

# df["like_ratio"].head()

# # ğŸ” Why replace(0, pd.NA)?
# # Because if dislikes = 0, dividing by zero gives an error.
# # pd.NA makes the ratio NaN instead of crashing.

In [14]:
df["likes"] = pd.to_numeric(df["likes"], errors="coerce")
df["dislikes"] = pd.to_numeric(df["dislikes"], errors="coerce")

df["like_ratio"] = df["likes"] / df["dislikes"].replace(0, pd.NA)

df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,FALSE,FALSE,FALSE,Eminem's new track Walk on Water ft. BeyoncÃ© i...,CA,18.135076
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,FALSE,FALSE,FALSE,STill got a lot of packages. Probably will las...,CA,75.707346
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,FALSE,FALSE,FALSE,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...,CA,27.3525
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,FALSE,FALSE,FALSE,I know it's been a while since we did this sho...,CA,66.485168
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,FALSE,FALSE,FALSE,ğŸ§: https://ad.gt/yt-perfect\nğŸ’°: https://atlant...,CA,77.513044

In [15]:
df.size

6597648

# 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [16]:
# Task 6: Convert publish_time to datetime (if not already)
df["publish_time"] = pd.to_datetime(df["publish_time"], errors="coerce")

# Create 10-minute interval column
df["publish_time_10min"] = df["publish_time"].dt.floor("10T")

df[["publish_time", "publish_time_10min"]].head(30)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24716\1863245100.py:5: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df["publish_time_10min"] = df["publish_time"].dt.floor("10T")

                publish_time        publish_time_10min
0  2017-11-10 17:00:03+00:00 2017-11-10 17:00:00+00:00
1  2017-11-13 17:00:00+00:00 2017-11-13 17:00:00+00:00
2  2017-11-12 19:05:24+00:00 2017-11-12 19:00:00+00:00
3  2017-11-12 18:01:41+00:00 2017-11-12 18:00:00+00:00
4  2017-11-09 11:04:14+00:00 2017-11-09 11:00:00+00:00
5  2017-11-13 07:37:51+00:00 2017-11-13 07:30:00+00:00
6  2017-11-12 23:52:13+00:00 2017-11-12 23:50:00+00:00
7  2017-11-13 17:13:01+00:00 2017-11-13 17:10:00+00:00
8  2017-11-12 20:19:24+00:00 2017-11-12 20:10:00+00:00
9  2017-11-10 14:10:46+00:00 2017-11-10 14:10:00+00:00
10 2017-11-10 19:00:02+00:00 2017-11-10 19:00:00+00:00
11 2017-11-12 15:00:05+00:00 2017-11-12 15:00:00+00:00
12 2017-11-12 16:00:01+00:00 2017-11-12 16:00:00+00:00
13 2017-11-11 16:41:15+00:00 2017-11-11 16:40:00+00:00
14 2017-11-12 22:00:01+00:00 2017-11-12 22:00:00+00:00
15 2017-11-11 16:00:44+00:00 2017-11-11 16:00:00+00:00
16 2017-11-13 01:30:01+00:00 2017-11-13 01:30:00+00:00
17 2017-11-10 19:06:23+00:00 2017-11-10 19:00:00+00:00
18 2017-11-13 14:00:03+00:00 2017-11-13 14:00:00+00:00
19 2017-11-12 12:20:39+00:00 2017-11-12 12:20:00+00:00
20 2017-11-12 21:50:37+00:00 2017-11-12 21:50:00+00:00
21 2017-11-13 11:00:04+00:00 2017-11-13 11:00:00+00:00
22 2017-11-11 02:00:00+00:00 2017-11-11 02:00:00+00:00
23 2017-11-12 00:26:46+00:00 2017-11-12 00:20:00+00:00
24 2017-11-12 20:00:01+00:00 2017-11-12 20:00:00+00:00
25 2017-11-12 18:20:00+00:00 2017-11-12 18:20:00+00:00
26 2017-11-12 23:00:00+00:00 2017-11-12 23:00:00+00:00
27 2017-11-12 15:59:38+00:00 2017-11-12 15:50:00+00:00
28 2017-11-13 17:00:04+00:00 2017-11-13 17:00:00+00:00
29 2017-11-12 04:24:34+00:00 2017-11-12 04:20:00+00:00

# 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [17]:
interval_stats = df.groupby("publish_time_10min").agg(
    videos_count = ("video_id", "count"), 
    avg_likes = ("likes", "mean"),
    avg_dislikes = ("dislikes", "mean")
).reset_index()

interval_stats.head()

         publish_time_10min  videos_count   avg_likes  avg_dislikes
0 2006-07-23 08:20:00+00:00             1  459.000000      152.0000
1 2007-03-05 16:20:00+00:00             9  336.666667        2.0000
2 2007-06-25 06:50:00+00:00            12  579.833333       11.5000
3 2007-12-03 20:50:00+00:00            16  187.937500       15.6875
4 2008-01-07 21:20:00+00:00            10   99.900000        2.0000

# 8. For each tag, determine the number of videos
## Notice that tags contains a string with several tags.

In [18]:
# Replace missing or invalid tags with empty string
df["tags"] = df["tags"].fillna("")

# Split tags by "|" and explode into separate rows
df_tags = df.assign(tag = df["tags"].str.split("|")).explode("tag")

# Remove empty tags (like "" or " ")
df_tags = df_tags[df_tags["tag"].str.strip() != ""]

# Count videos per tag
tag_counts = df_tags["tag"].value_counts().reset_index()
tag_counts.columns = ["tag", "video_count"]

tag_counts.head()

        tag  video_count
0    [none]        36065
1   "funny"        14912
2  "comedy"        11937
3    "2018"        10731
4    "news"         5740

# 9. Find the tags with the largest number of videos

In [19]:
# Task 9: Tags with the most videos
top_tags = tag_counts.sort_values("video_count", ascending=False)

top_tags.head(10)

            tag  video_count
0        [none]        36065
1       "funny"        14912
2      "comedy"        11937
3        "2018"        10731
4        "news"         5740
5       "music"         5577
6        "2017"         5390
7       "video"         5366
8       "humor"         5028
9  "television"         4145

# 10. For each (tag, country) pair, compute average ratio likes/dislikes

In [26]:
# Task 10: For each (tag, country) pair, compute average like_ratio

tag_country_ratio = df_tags.groupby(["tag", "country"])["like_ratio"].mean().reset_index()

tag_country_ratio.head(10)

                                                 tag country like_ratio
0                                       #Freeticket"      IN   2.665679
1                                         #Jaisimha       IN   2.665679
2                                    #JanaSenaParty       IN  17.621907
3                                        #MahaaNews"      IN   8.511947
4                            #PawanKalyan #AlluArjun      IN   9.983453
5                              #PrimeTimeWithMurthy"      IN   8.187549
6                                          #SUSANNE"      DE  78.841463
7                                           #VMA 20       FR   9.615385
8                                           #VMA 21       FR   5.782258
9   ''A por la FORTALEZA'' Capitulo 88 - Segunda ...      MX   2.631019

# 11. For each (trending_date, country) pair, the video with the largest number of views

In [21]:
# top_videos = df.loc[
#     df.groupby(["trending_date", "country"])["views"].idxmax()
# ]
# top_videos.head(100)
# Task: For each (trending_date, country) pair, show the video with the highest views
# Columns required: trending_date, country, channel_title, tags, views, likes

top_videos = df.loc[
    df.groupby(["trending_date", "country"])["views"].idxmax(),
    ["trending_date", "country", "channel_title", "tags", "views", "likes"]
].reset_index(drop=True)

top_videos

,trending_date,country,channel_title,tags,views,likes
0,17.01.12,CA,Marvel Entertainment,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",56367282,2157741
1,17.01.12,DE,Marvel Entertainment,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",56367282,2157737
2,17.01.12,FR,Marvel Entertainment,"marvel""|""comics""|""comic books""|""nerdy""|""geeky""...",7281189,180808
3,17.01.12,GB,LuisFonsiVEVO,"Luis|""Fonsi""|""Demi""|""Lovato""|""Ã‰chame""|""La""|""Cu...",143408235,2686169
4,17.01.12,IN,Marvel Entertainment,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",56367282,2157733
...,...,...,...,...,...,...
1962,18.31.05,JP,Maroon5VEVO,"Maroon|""Girls""|""Like""|""You""|""Interscope""|""Reco...",3057987,406732
1963,18.31.05,KR,1theK (ì›ë”ì¼€ì´),"Kpop|""1theK""|""ì›ë”ì¼€ì´""|""loen""|""ë¡œì—”""|""ë®¤ë¹„""|""í‹°ì ¸""|""MV""...",4150448,186262
1964,18.31.05,MX,Cardi B,"Cardi B|""I Like It""|""Invasion of Privacy""|""Bad...",20723565,1018817
1965,18.31.05,RU,BadComedian,"BadComedian|""Ğ•Ğ²Ğ³ĞµĞ½""|""Bad""|""Comedian""|""Ğ¤Ğ¸Ğ»ÑŒĞ¼Ñ‹""|...",3125598,334685
1966,18.31.05,US,ChildishGambinoVEVO,"Childish Gambino|""Rap""|""This Is America""|""mcDJ...",217750076,4934188

# 12. Divide trending_date into three columns: year, month, day

In [22]:
# # Convert to datetime if not already
# df["trending_date"] = pd.to_datetime(df["trending_date"])

# # Extract date components
# df["trending_year"] = df["trending_date"].dt.year
# df["trending_month"] = df["trending_date"].dt.month
# df["trending_day"] = df["trending_date"].dt.day

# trending_date format is YY.DD.MM â†’ we must parse manually
df["trending_date"] = pd.to_datetime(df["trending_date"], format="%y.%d.%m")

# Split into year, month, day
df["trending_year"] = df["trending_date"].dt.year
df["trending_month"] = df["trending_date"].dt.month
df["trending_day"] = df["trending_date"].dt.day

df[["trending_date", "trending_year", "trending_month", "trending_day"]].head()

  trending_date  trending_year  trending_month  trending_day
0    2017-11-14           2017              11            14
1    2017-11-14           2017              11            14
2    2017-11-14           2017              11            14
3    2017-11-14           2017              11            14
4    2017-11-14           2017              11            14

## 13. For each (month, country) pair, the video with the largest number of views

In [23]:
# Task 13: For each (month, country) pair, the video with the highest number of views

top_month_country = df.loc[
    df.groupby(["trending_month", "country"])["views"].idxmax(),
    ["trending_month", "country", "channel_title", "title", "tags", "views", "likes"]
].reset_index(drop=True)

top_month_country

,trending_month,country,channel_title,title,tags,views,likes
0,1,CA,Bruno Mars,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",43067983,1717177
1,1,DE,Bruno Mars,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",37728802,1629946
2,1,FR,Bruno Mars,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,"Bruno Mars""|""Finesse""|""Cardi B""|""Finesse Remix...",37728802,1629948
3,1,GB,Bruno Mars,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,"Bruno Mars|""Finesse""|""Cardi B""|""Finesse Remix""...",90598955,2248693
4,1,IN,TaylorSwiftVEVO,"Taylor Swift - End Game ft. Ed Sheeran, Future","Taylor|""Swift""|""End""|""Game""|""Big""|""Machine""|""Pop""",42019590,1804377
...,...,...,...,...,...,...,...
72,12,IN,YouTube Spotlight,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",125432237,2912710
73,12,KR,YouTube Spotlight,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",113876217,2811223
74,12,MX,YouTube Spotlight,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",100912384,2656698
75,12,RU,YouTube Spotlight,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",52611730,1891836
76,12,US,YouTube Spotlight,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",149376127,3093544

## 14. Read all json files with the video categories

In [33]:
import json
from pathlib import Path

# Folder where JSON files are stored
json_path = Path("../data")

# Get all JSON files
json_files = sorted(json_path.glob("*.json"))

categories = {}

for jf in json_files:
    country = jf.stem[:2]   # Extract country code from filename (e.g., US_category.json â†’ US)
    
    with open(jf, "r", encoding="utf-8") as f:
        data = json.load(f)
    
    categories[country] = pd.json_normalize(data["items"])

# categories

## 15. For each country, determine how many videos have a category that is not assignable.

In [35]:
non_assignable_table = categories_table[
    categories_table["snippet.assignable"] == False
]

non_assignable_table

# tables = []

# for country, df in categories.items():
#     temp = df[["id", "snippet.title", "snippet.assignable"]].copy()
#     temp["country"] = country
#     tables.append(temp)

# categories_table = pd.concat(tables, ignore_index=True)

# categories_table

     id     snippet.title  snippet.assignable country
5    18      Short Movies               False      DE
8    21     Videoblogging               False      DE
16   30            Movies               False      DE
17   31   Anime/Animation               False      DE
18   32  Action/Adventure               False      DE
..   ..               ...                 ...     ...
275  40    Sci-Fi/Fantasy               False      US
276  41          Thriller               False      US
277  42            Shorts               False      US
278  43             Shows               False      US
279  44          Trailers               False      US

[153 rows x 4 columns]